<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.26.4" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="HtmlAgilityPack-PCL" version="1.4.6" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="PropertyChanged.Fody" version="1.49.0" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="SQLite.Net.Async-PCL" version="3.0.0-beta" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SQLite.Net-PCL" version="2.5.1" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SQLiteNetExtensions" version="1.2.3" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SQLiteNetExtensions.Async" version="1.2.4" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>